<div class="second-navigation">
<% if user_signed_in? and (current_user.has_role? :admin or current_user.has_role? :orgAdmin) %>
    <ul class="nav nav-tabs">
      <li <% if params[:controller] == "organizations"  %> class="active" <% end -%>>
          <%=  link_to "org_name", organizations_path %>
      </li>
      <li <% if params[:controller] == "invoices"  %> class="active" <% end -%>> <%= link_to("Invoices", invoices_path , class:"") %></li>
      <li <% if params[:controller] == "costcenters"  %> class="active" <% end -%>><%= link_to("Cost centers", costcenters_path) %></li>
       <li <% if params[:controller] == "members"  %> class="active" <% end -%>><%= link_to("members", members_path ) %></li>   
    </ul>
  <% end %>
</div>


  