<%= render "shared/page_title", title: "Organizations" %>

<% if user_signed_in? and current_user.has_role? :admin %>
  <%= link_to("New organization", new_organization_path, class:"btn btn-primary") %>
<% end %>
<% @orgs.each do |org| %>
	<h1><%= link_to org.name, invoices_url(:subdomain => org.name)  %> </h1>
<% end %>