<%= render "shared/page_title", title: @org.name %>
<%= render "shared/second_navigation", obj: @org %>

<div class="main">
	<div class="pull-right">
		<br>
<%= link_to("Edit organization", edit_organization_path, class:"btn btn-primary") %>
<%= link_to("Delete organization", organization_path, data: { confirm: 'Are you sure? This will also delete all the invoices!' }, method: :delete, class:"btn btn-primary") %> 
</div>
<br>
  <p>Members:</p> 
</div>